  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12 section">
          <h4>Gentlemen Watch</h4>
          <p>
            A gentlemen's choice of timepiece
          </p>
          <p>Designed by Russell John</p>
          <ul class="social-icon">
            <li><a href="https://www.facebook.com" class="fab fa-facebook-f"></a></li>
            <li><a href="https://www.instagram.com" class="fab fa-instagram"></a></li>
            <li><a href="https://www.twitter.com" class="fab fa-twitter"></a></li>
            <li><a href="https://www.google.com" class="fab fa-google-plus-g"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 section">
          <h6>Sitemap</h6>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/watch">Watch</a>
          <a href="/contact">Contact</a>
        </div>
        <div class="col-md-3 col-sm-12 section">
          <h6>Security and Privacy</h6>
          <a href="/terms-and-condition">Terms and Condition</a>
          <a href="/return-policy">Return Policy</a>
        </div>
        <div class="col-md-3 col-sm-12 section">
          <h6>Contact</h6>
          <div class="contact">
            <a href="tel:+85221234567">
              <i class="fas fa-phone"></i>
              (852) 21234567
            </a>
          </div>
          <div class="contact">
            <a href="mailto:gentlemen@gmail.com">
              <i class="fas fa-envelope"></i>
              gentlemen@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <div class="container d-flex justify-content-between">
      <div class="">
        <p>&copy; 2019 Gentlemen Watch. All rights reserved.</p>
      </div>
      <div class="policy-link">
        <img src="/images/visa.svg" alt="">
        <img src="/images/mastercard.svg" alt="">
        <img src="/images/paypal.svg" alt="">
        <img src="/images/western-union.svg" alt="">
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/myscript.js"></script>
  </body>
</html>
