<% include ../partials/header %>
<% include ../partials/navbar %>

  <h1>A gentleman's choice of timepiece</h1>
  <form class="" action="/api/add-cart/5ccc753f5e6d4d030408431e" method="post">
    <input type="number" name="quantity" value="2" min="1">
    <input type="submit" class="btn button-secondary button-small" value="Add to cart">
  </form>

<% include ../partials/footer %>
