<% include partials/header %>
<% include partials/navbar %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 m-0 p-0">
        <div class="position-relative overflow-hidden bg-light bg-image">
          <div class="col-md-5 p-lg-5 mr-auto my-5">
            <h1 class="display-4 font-weight-normal text-color-secondary">Time is Gold</h1>
            <p class="lead font-weight-normal">Being a man is a matter of age. Being a gentleman is a matter of choice. Gold is a gentleman's choice of timepiece.</p>
            <a href="/login"><button class="btn button-primary">Become A Gentleman</button></a>
          </div>
          <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mt-2 small-padding">
        <div class="card text-center py-4">
          <div class="overlay">
            <div class="content">
              <h3>Omega Seamaster</h3>
              <a href="/watch/classic" class="btn button-primary">View More</a>
            </div>
          </div>
          <h3 class="text-color-secondary">Classic Watch</h3>
          <img src="/images/omega-seamaster.png" alt="Card image" class="card-img rounded-0">
          <div class="card-img-overlay d-flex align-items-center">
            <!-- <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4">Top picks</h2><a href="category.html" class="btn btn-light">Shop now</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2 small-padding">
        <div class="card text-center py-4">
          <div class="overlay">
            <div class="content">
              <h3>Omega Speedmaster</h3>
              <a href="/watch/quartz" class="btn button-primary">View More</a>
            </div>
          </div>
          <h3 class="text-color-secondary">Quartz Watch</h3>
          <img src="/images/omega-chronograph.png" alt="Card image" class="card-img rounded-0">
          <div class="card-img-overlay d-flex align-items-center">
            <!-- <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4">Top picks</h2><a href="category.html" class="btn btn-light">Shop now</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2 small-padding">
        <div class="card text-center py-4">
          <div class="overlay">
            <div class="content">
              <h3>Omega Speedmaster</h3>
              <a href="/watch/chronograph" class="btn button-primary">View More</a>
            </div>
          </div>
          <h3 class="text-color-secondary">Chronograph Watch</h3>
          <img src="/images/omega-chronograph.png" alt="Card image" class="card-img rounded-0">
          <div class="card-img-overlay d-flex align-items-center">
            <!-- <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4 text-color-secondary">Top picks</h2>
              <a href="category.html" class="btn button-primary">Shop now</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="poster">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 p-lg-5 mr-auto my-5">
          <p class="lead">new trending</p>
          <h1 class="display-3 text-color-secondary" style="line-height:1.5;">Collection</h1>
          <p class="font-weight-normal" style="color:#aaa;">We believe that good design is always in season</p>
          <button class="btn button-secondary" href="#">Shop Now</button>
          <button class="btn button-primary" href="#">Sale off 20% all products</button>
        </div>
      </div>
    </div>
  </section>

  <section class="brand text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-color-secondary" style="line-height:0.7;">Our popular</p>
          <h1 style="line-height:1;">Brands</h1>
        </div>
        <div class="col-md-3 my-5">
          <img src="/images/omega-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5">
          <img src="/images/rolex-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5">
          <img src="/images/patek-philippe-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5">
          <img src="/images/iwc-logo.png" class="p-2">
        </div>
      </div>
    </div>
  </section>

  <section class="service text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-ship"></i>
          <div class="d-flex flex-column ml-3">
            <h5>Secure Shipping</h5>
            <p>100% Secure packaging</p>
          </div>
        </div>
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-user-clock"></i>
          <div class="d-flex flex-column ml-3">
            <h5>(852) 2123-4567</h5>
            <p>24/7 Available support</p>
          </div>
        </div>
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-hand-holding-usd"></i>
          <div class="d-flex flex-column ml-3">
            <h5>Money Return</h5>
            <p>30 days money back guarantee</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include partials/footer %>
