  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 m-0 p-0">
        <div class="position-relative overflow-hidden bg-light bg-image">
          <div class="col-md-5 p-lg-5 mr-auto my-5">
            <h1 class="display-3 font-weight-normal text-color-secondary wow fadeInRight" data-wow-delay="0.2s">Time is Gold</h1>
            <p class="lead font-weight-normal wow fadeInRight" data-wow-delay="0.4s">Being a man is a matter of age. Being a gentleman is a matter of choice. Gold is a gentleman's choice of timepiece.</p>
            <a href="/login"><button class="btn button-primary wow fadeInRight" data-wow-delay="0.5s">Become A Gentleman</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="watch-types">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 mt-2 small-padding">
          <div class="card text-center py-4">
            <div class="overlay">
              <div class="content">
                <h3>Omega Seamaster</h3>
                <a href="/watch/classic" class="btn button-primary">Shop Now</a>
              </div>
            </div>
            <h3 class="text-color-secondary">Classic Watch</h3>
            <img src="/images/omega-seamaster.png" alt="Card image" class="card-img rounded-0">
          </div>
        </div>
        <div class="col-md-4 mt-2 small-padding">
          <div class="card text-center py-4">
            <div class="overlay">
              <div class="content">
                <h3>Omega Speedmaster</h3>
                <a href="/watch/quartz" class="btn button-primary">Shop Now</a>
              </div>
            </div>
            <h3 class="text-color-secondary">Quartz Watch</h3>
            <img src="/images/quartz.png" alt="Quartz Watch" class="card-img rounded-0" style="margin-top:50px;">
          </div>
        </div>
        <div class="col-md-4 mt-2 small-padding">
          <div class="card text-center py-4">
            <div class="overlay">
              <div class="content">
                <h3>Omega Speedmaster</h3>
                <a href="/watch/chronograph" class="btn button-primary">Shop Now</a>
              </div>
            </div>
            <h3 class="text-color-secondary">Chronograph Watch</h3>
            <img src="/images/omega-chronograph.png" alt="Card image" class="card-img rounded-0">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-5 pt-5 ml-4 wow fadeInLeft" data-wow-delay="0.1s">
          <svg width="400" height="120">
            <text x="20" y="20" font-family="inherit" font-size="25px" fill="#fff">Limitless</text>
            <text x="20" y="50" font-family="inherit" font-size="12px" fill="#aaa">Lorem ipsum dolor sit amet, </text>
            <text x="20" y="65" font-family="inherit" font-size="12px" fill="#aaa">consectetur adipisicing elit, </text>
            <text x="20" y="80" font-family="inherit" font-size="12px" fill="#aaa">sed do eiusmod tempor incididunt </text>
            <path d="M20 30 H 250 L 350 80" stroke="#b4975a" fill="transparent" stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-4 offset-md-3 mt-5 pt-5 ml-auto wow fadeInRight" data-wow-delay="0.5s">
          <svg width="400" height="120">
            <text x="125" y="20" font-family="inherit" font-size="20px" fill="#fff">Classic Chronograph</text>
            <text x="165" y="50" font-family="inherit" font-size="12px" fill="#aaa">Lorem ipsum dolor sit amet, </text>
            <text x="165" y="65" font-family="inherit" font-size="12px" fill="#aaa">consectetur adipicing elit, </text>
            <text x="165" y="80" font-family="inherit" font-size="12px" fill="#aaa">sed do eiusmod tempor  </text>
            <path d="M40 80 L 120 30 H 400" stroke="#b4975a" fill="transparent" stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-4 mt-5 pt-5 ml-4 wow fadeInLeft" data-wow-delay="0.9s">
          <svg width="400" height="130">
            <text x="20" y="70" font-family="inherit" font-size="25px" fill="#fff">Accurate</text>
            <text x="20" y="100" font-family="inherit" font-size="12px" fill="#aaa">Lorem ipsum dolor sit amet, </text>
            <text x="20" y="115" font-family="inherit" font-size="12px" fill="#aaa">consectetur adipisicing elit, </text>
            <text x="20" y="130" font-family="inherit" font-size="12px" fill="#aaa">sed do eiusmod tempor  </text>
            <path d="M20 80 H 250 L 340 30" stroke="#b4975a" fill="transparent" stroke-width="2" />
          </svg>
        </div>
        <div class="col-md-4 offset-md-3 mt-5 pt-5 ml-auto wow fadeInRight" data-wow-delay="1.3s">
          <svg width="400" height="130">
            <text x="105" y="70" font-family="inherit" font-size="20px" fill="#fff">Innovative Dial Layout</text>
            <text x="165" y="100" font-family="inherit" font-size="12px" fill="#aaa">Lorem ipsum dolor sit amet, </text>
            <text x="165" y="115" font-family="inherit" font-size="12px" fill="#aaa">consectetur adipising elit, </text>
            <text x="165" y="130" font-family="inherit" font-size="12px" fill="#aaa">sed do eiusmod tempor  </text>
            <path d="M40 40 L 100 80 H 400" stroke="#b4975a" fill="transparent" stroke-width="2" />
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="poster">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
  				<div class="heading"></div>
  			</div>
        <div class="col-md-5 p-lg-5 mr-auto my-5 wow fadeInRight" data-wow-delay="0.3s">
          <p class="lead">new trending</p>
          <h1 class="display-4 text-color-secondary" style="line-height:1.5;">Limited Edition</h1>
          <p class="font-weight-normal" style="color:#aaa;">We believe that good design is always in season</p>
          <a href="/watch/classic"><button class="btn button-secondary">Shop Now</button></a>
          <a href="/watch/classic"><button class="btn button-primary">Sale off 20% all products</button></a>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>

  <section class="brand text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-color-secondary subheading" style="line-height:0.7;">Our popular</p>
          <h1 style="line-height:1;">Brands</h1>
        </div>
        <div class="col-md-3 my-5 wow fadeInUp" data-wow-delay="0.2s">
          <img src="/images/omega-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5 wow fadeInUp" data-wow-delay="0.2s">
          <img src="/images/rolex-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5 wow fadeInUp" data-wow-delay="0.2s">
          <img src="/images/patek-philippe-logo.png" class="p-2">
        </div>
        <div class="col-md-3 my-5 wow fadeInUp" data-wow-delay="0.2s">
          <img src="/images/iwc-logo.png" class="p-2">
        </div>
      </div>
    </div>
  </section>

  <section class="service text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-ship"></i>
          <div class="d-flex flex-column ml-3">
            <h5>Secure Shipping</h5>
            <p class="subheading">100% Secure packaging</p>
          </div>
        </div>
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-user-clock"></i>
          <div class="d-flex flex-column ml-3">
            <h5>(852) 1234-5678</h5>
            <p class="subheading">24/7 Available support</p>
          </div>
        </div>
        <div class="col-md-4 content d-flex flex-row text-left">
          <i class="fas fa-hand-holding-usd"></i>
          <div class="d-flex flex-column ml-3">
            <h5>Money Return</h5>
            <p class="subheading">30 days money back guarantee</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include partials/subscribe %>
