<% include partials/header %>
<% include partials/navbar %>

  <p>
    Thanks for shopping at Gentlemen's Watch.
    If you are not completely satisfied with your purchase, we're here to help.
  </p>
  <p>
    Returns
    You have 30 calendar days to return an item from the date you received it.
    Be eligible for a return, your item must be unused and in the same condition that you received it.
    Your item must be in the original packaging.
    Your item needs to have the receipt or proof of purchase.
  </p>
  <p>
    Refunds
    Once we receive your item, we will inspect it and notify you that we have received your returned item.
    We will immediately notify you on the status of your refund after inspecting the item.
    If your return is approved , we will initiate a refund to your bank account.
    You will receive the credit within a certain amount of days, depending on your card issuer's policies.
  </p>
  <p>
    Shipping
    You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are nonrefundable.
    If you receive a refund, the cost of return shipping will be deducted from your refund.
  </p>
  <p>
    Contact Us
    If you have any questions on how to return Your item to us, contact us at 91234567 or email us at gentlemenwatch@gmail.com.
  </p>

<% include partials/footer %>
