<% include partials/header %>
<% include partials/navbar %>

<ul>
  <li>
    <strong>Disclaimer of liability</strong>  will specify the damages that one party eg ecommerce store owner,
    will be obligated to provide to the other eg customer, in the event of product failure and should reflect the
    level of risk involved. It will also specify what  the  ecommerce store owner  Will not be responsible for in
    the event of any loss, liability, damage (whether direct, indirect or consequential), personal injury or expense
    of any nature whatsoever which may be suffered by the customer.
  </li>
  <li>
    <strong>Intellectual Property/Trademarks</strong>  – e-commerce businesses are often more vulnerable to
    intellectual property theft, whether it be your images, design, content, logos, product descriptions or the
    overall look and feel of your website. An intellectual property clause should act to ensure That brands or
    trademarks are not misused in any way and clearly state that any contained within the website should be
    interpreted as granting any license or the right to use any trademark  without the prior written consent of
    the owner of the website.
  </li>
  <li><
    strong>Payment Terms</strong>  should set out how payment is to be made when purchasing products and/or
    services from your website. More often than not, full payment is required when an order is placed by a customer.
    This means that as an ecommerce store, you are In the case where payment does not clear, the ecommerce site has a
    right to cancel the order completely, the ecommerce site will stipulate that until payment has actually cleared, no
    orders will be dispatched. These extra clauses serve as further protection to a business.
  </li>
  <li>
    <strong>Data Protection</strong>  should disclose how customer's personal information will be used, stored and protected.
  </li>
  <li>
    <strong>Delivery Terms</strong> should cover both shipping and delivery and would typically include what the
    delivery costs are and how shipping charges are calculated but also (where third party service providers are involved)
    that the quality of delivery cannot be guaranteed.
  </li>
  <li>
    <strong>Product Information & Warranties</strong> should set out clear terms on how products can be purchased,
    whether there are any restrictions e.g. the restriction of sale for age-restricted products and services, and what
    happens in the event that a product cannot be supplied. Some online stores will also include warranty information as
    part of their terms and conditions whereas others will have a separate Warranty policy.
  </li>
  <li>
    <strong>Right to cancel</strong> – This clause should set out the circumstances in which the customer has the right
    to cancel their order, the process in which they must follow in cancelling their order and any other requirements e.g.
    goods must remain unused and returned in it’s original packaging.
  </li>
  <li>
    <strong>External Links</strong> are often provided on sites for the user’s convenience but there should be a clause to
    state that the links, and the related content, are outside of the control of the ecommerce store owner and usage should
    be at the user’s/customer’s own risk.
  </li>
  <li>
    <strong>Website Terms of Use</strong> simply sets out the terms for accessing a website and applies to every single visitor.
    The terms of use usually cover items such as privacy and prohibited uses of the website.
  </li>
</ul>

<% include partials/footer %>
